*{
    margin: 0;
    box-sizing: border-box;
    transition: 0.2s;
}
a{
    text-decoration: none;
    color: white;
}
body{
    color: black;
   
}
/* ШАПКА */

header{
    position: fixed;
    width: 100%;
    padding: 4vh 2vw;
    padding-left: 8vw;
    background: rgba(104,104,104,1);
    display: flex;
    font-family: "Black";
    color: white;
    font-size: 3.5vh;
    margin-bottom: 10px;
    z-index: 100000000000000000000000000000000000000000000000000000000;
}
header a{
    padding: 2vh;
}


header a:hover{
    background: rgba(255,255,255,0.2);
    border-radius: 1vh;
}

#logo{
    display: inline-block;
    justify-self: flex-start;
    width: 4vw;
    margin-right: 0.5vw;
}

#logoText{
    display: inline-block;
    justify-self: flex-start;
    align-self: center;
}

#social_media{
    font-family: "Regular";
    display: inline-block;
    margin-left: auto;
    align-self: center;
}

#auth{
    font-family: "Regular";
    display: inline-block;
    margin-left: 2vw;
    align-self: center;
}

#wrapper{
    min-height: 3000px;
}
/* основная страница */
#wrapper{
    background: white;
    width: 100%;
    height: 100%;
    padding-top: 25vh;
    padding-left: 8vw;
    padding-right: 8vw;
}

#profile {
    border-radius: 0.5vw;
    width: 25vw;
    height: 45vh;
    background: grey;
    display: inline-block;
    float: left;
    color: white;
    
    
}

#avatar{
    width: 10vw;
    height: 10vw;
    display: inline-block;
    margin: 0.5vw;
    border-radius: 8.5vw;
} 

#profile_d{
    display: inline-block;
}


.main-text{
    display: inline-block;
    justify-self: flex-start;
    align-self: center;
    font-size: 1.5vw;
    
}


#events{
    background: grey;
    margin-bottom: 1vw;
    display: flow-root;
    border-radius: 0.5vw;
}
#event{
    margin:0.5vw;
    width: 10vw;
    height: 10vw;
}
#events_d{
    width: 35vw;
    color: white;
    border-radius: 0.5vw;
}


#news{
    margin-top: 7vw;
    margin-left: ;
    width: 100%;
    height: 30vw;
    background: grey;
    border-radius: 0.5vw;
    display: inline-block;
}

#new{
    width: 50%;
    height: 40%;
    display: inline-block;
    margin-right: 0.1vw;
}

.title{
    width: 100%;
    background: blue;
    font-family: "Black";
    color: white;
    font-size: 3.5vh;
    border-top-left-radius: 0.5vh;
    border-top-right-radius: 0.5vh;
    padding: 0.5vw;
}

#news_d{
    margin: 0.5vw;
    color: white;
}

#about_us{
    width: 100%;
    padding: 2vh 2vw;
    background: rgb(100,100,100);
    text-align: center;
}
#authors{
    text-align: center;
    font-family: "Black";
    font-size: 5.5vh;
    color: white;
}
.author{
    margin: 1vh 0.5vw;
    width: 17vw;
    display: inline-block;
}
.author img{
    width: 17vw;
    border-radius: 8.5vw;
    background: white;
}
.author p{
    text-align: center;
    font-family: "Black";
    font-size: 4vh;
    color: white;
    margin-top: 1vh;
}
/* френд лист*/
#FNE{
    display: flex;
    align-content: flex-start;
    display: inline-block;
    float: left;
    margin-left: 2vw;
    position: absolute;
    width: 55%;
}

#friend-list{
    width: 100%;
    background: rgb(100,100,100);
    text-align: center;
    margin-bottom: 1.5vw;
    border-radius: 0.5vw;
}

.friend img{
    width: 7vw;
    border-radius: 8.5vw;
    background: white;
}


.friend{
    display: inline-block;
    margin: 0.5vw;
}

.discription{
    font-size: 1.5vw;
    color: white;   
    border-radius: 0.5vw;
}
/* ПОДВАЛ */

footer{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    background: rgb(85,85,85);
}
footer a{
    font-family: "Black";
    font-size: 4vh;
    color: white;
    margin: 3vh 2vw;
}

@font-face{
    font-family: "Black";
    src: url('fonts/Montserrat-Black.ttf')
}
@font-face{
    font-family: "Regular";
    src: url('fonts/Montserrat-Regular.ttf')
}