*{
    margin: 0;
    box-sizing: border-box;
    transition: 0.2s;
}
a{
    text-decoration: none;
    color: white;
}
body{
    color: black;
    font-size: 30px;
}
/* ШАПКА */

header{
    position: fixed;
    width: 100%;
    padding: 4vh 2vw;
    padding-left: 8vw;
    background: rgba(104,104,104,1);
    display: flex;
    font-family: "Black";
    color: white;
    font-size: 3.5vh;
    margin-bottom: 10px;
}
#logo{
    display: inline-block;
    justify-self: flex-start;
    width: 3vw;
    margin-right: 0.5vw;
}
#logoText{
    display: inline-block;
    justify-self: flex-start;
    align-self: center;
}
#social_media{
    display: inline-block;
    margin-left: auto;
    align-self: center;
}
#auth{
    display: inline-block;
    margin-left: 2vw;
    align-self: center;
}
#wrapper{
    min-height: 3000px;
}
/* основная страница */
#wrapper{
    background: white;
    width: 100%;
    height: 100vh;
    padding-top: 25vh;
    padding-left: 8vw;
    padding-right: 8vw;
}

#profile {

    background: grey;
    display: inline-block;


}

#avatar{
    width: 10vw;
    margin: 0.5vw;
} 

#profile p{
    background: blue;
    font-family: "Black";
    color: black;
    font-size: 3.5vh;
    padding: 0.5vw;
}
